# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

# Binaries
build

# Qt Creator files
*.user*
*.autosave

# Neovim
neovim.json

# VSCode
.vscode

# Clangd
.cache
compile_commands.json

# macOS junk
.DS_Store
