# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

[submodule "src/third-party/singleapplication"]
	path = src/3rdparty/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
	ignore = dirty
[submodule "src/third-party/qhotkey"]
	path = src/3rdparty/qhotkey
	url = https://github.com/Skycoder42/QHotkey.git
	ignore = dirty
[submodule "data/icons/3rdparty/breeze-icons"]
	path = data/icons/3rdparty/breeze-icons
	url = https://invent.kde.org/frameworks/breeze-icons.git
	ignore = dirty
